

ul#taskList {
	padding: 0 25px;
} */

li.task {
	list-style-type: none;
	font-family: Arial;
	font-size: 1.2em;
	padding: 7px 0;
	transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;

}

input.taskCheckbox {
	position: relative;
	float: left;
	margin-right: 10px;
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
	margin-left: 5px;
	text-align: center;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
}

input.taskCheckbox:checked {
	background-color: #009925;
}

input.taskCheckbox:checked:after {
	color: white;
	content: "\2713";
	display: block;
	font-size: 12px;
	height: 12px;
	position: absolute;
	width: 12px;
	left: 0.5px;
	bottom: 2px;
}

input.taskCheckbox + label.taskLabel {
	color: black;
}

input.taskCheckbox:checked + label.taskLabel {
	font-style: italic;
	color: grey;
}

#inputContainer {
	padding: 15px;
}

#inputContainer #taskInput {
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	box-sizing: border-box;
}

